/* ----------------------- Responsive Navigation Bar ------------------------*/
.navbar .res_icon1, .navbar .res_icon2{
    display: none;
}

@media screen and (max-width: 768px){
    .navbar a:not(:nth-child(4)) {display: none;}
    .navbar a:nth-child(4){
        width: 83.2%;
    }
    .navbar a.res_icon1 {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 768px){
    .navbar.responsive {position:relative;}
    .navbar.responsive .res_icon1 {
        display: none;
    }
    .navbar .responsive .res_icon2{
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
}

/*---------------Reason for donation------------------------*/

.reason{
    background-color: #ccffdc;
    margin: 20px;
    padding:20px 30px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgb(0,0,0,0.5);
    
}

.reason img{
    border-radius: 20px;
    width: 60%;   
}

.reason p{
    text-align: justify;
    font-size: 17px;
}

.reason input[type=button]{
    margin-top: 15px;
    padding: 15px 45px;
    background-color: #ffa64d;
    transition: 0.3s ease-in;
    border-radius: 15px;
    font-size:19px;
    font-weight: 700;
    border: none;
    box-shadow: 0 5px 5px 0 #ff9933;
}

.reason input[type=button]:hover{
    background-color: #ff8000;
    transition: 0.3s ease-in;
}

@media screen and (max-width: 600px){
    .reason img{
        width: 80%;
    }
    .reason p{
        font-size: 15px;
    }
}

/*-----------------------Payment Methods-----------------------*/

.payment-type{
    background-color: #e6ff99;
    margin: 20px;
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgb(0,0,0,0.5);
}

.payment-type form{
    transition: 0.3s ease-in;
}
.payment-type form:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;   
}
.payment-type img{
    width: 100%;
}

.payment-note{
    text-align: justify;
    padding-right: 30px;
    font-size: 19px;
}

.payment-note h2{
    border-bottom: 2px solid;
}
.payment-note i{
    font-size:22px;
    color: seagreen
}

.payment-note{
    font-size: 17px;
    margin: 0;
}

@media screen and (max-width: 500px){
    .payment-note{
        padding-right: 0;
    }
    
    .payment-note li{
        font-size: 14px;
    }
    
    .payment-note ul{
        margin: 0 10px;
    }
}