/* ---------------------- Responsive Navigation Bar ------------------------*/
.navbar .res_icon1, .navbar .res_icon2{
    display: none;
}

@media screen and (max-width: 768px){
    .navbar a:not(:nth-child(1)) {display: none;}
    .navbar a:nth-child(1){
        width: 83.2%;
    }
    .navbar a.res_icon1 {
        float: right;
        display: block;
    } 
}


@media screen and (max-width: 768px){
    .navbar.responsive {position:relative;}
    .navbar.responsive .res_icon1 {
        display: none;
    }
    .navbar .responsive .res_icon2{
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
}

/*-------------SlideShow Configuration------------- */

.slider{
    display: none
}

.slideshow-container img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 2000px;
    margin: 20px 50px;
}

/* Next & previous buttons */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption{
    color: floralwhite;
    font-size: 18px;
    padding: 10px 12px;
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0,0.6);
}

/* Number text (1/3 etc) */
.numbertext{
    color: floralwhite;;
    background-color: rgb(0, 0, 0,0.8);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot-container{
    padding: 12px 0;
    background: rgb(204,204,204,0.2);
    box-shadow: 0 8px 8px 0 #ccc;
    border-radius: 0 0 10px 10px;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active, .dot:hover{
    background-color: #717171;
}

/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    0% {opacity: .2} 
    25%{opacity: .4}
    50%{opacity: .6}
    75%{opacity: .8}
    100% {opacity: 1}
}

@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 600px) {
    .prev, .next, .caption, .numbertext {font-size: 12px;}
    
    .dot{
        height: 10px;
        width:  10px;
    }
    .slideshow-container{
        margin: 20px 0;
    }
}

@media screen and (max-width: 500px){
    .caption{
        font-size: 11px;
        bottom: 42px;
    }
}

/*--------------------Glowing Text Card--------------------*/

.text-cards{
    background-color: aliceblue;
    width: 95%;
    display: flex;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    margin:0 auto 20px auto;
    box-shadow: 0 10px 10px 0 rgb(0,0,0,0.2)
}
.text-heading{
    width: 95%;
    border-radius: 10px 10px 0 0;
    background-color: #1a94ff;
    color: white;
    padding: 2px 50px;
    margin: 0 auto;
    font-size:20px;
    text-align: center;
}

.text-heading h1{
    border-bottom: 4px solid;
}

.circle {
    vertical-align: middle;
    font-size:60px;
    margin:10px;;
    color: white;
    border-radius:10px; 
}

.text-card{
    background-color: white;
    border-color: black;
    border-bottom-width: 2px;
    box-shadow: 0px 10px 10px 0px #c1c1c1;
    margin:10px 30px;
    padding: 0 15px;
    width: 33%;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.text-card h2{
    font-family: 'Merriweather', serif;
}

.text-card p{
    font-size: 15px;
    
}

.text-card:hover {
    transform: scale(1.10);
    transition: 0.3s ease-in;
}
.text-card button{
    font-size:16px;
    margin-bottom:10px;
}

@media screen and (max-width: 520px){
    .text-heading{
        font-size: 10px;
    }
    .circle{
        margin: 20px 0;
    }
}
@media screen and (max-width: 836px){
    .text-cards{
        display:block;
    }
    .text-card{
        margin:0 auto;
        margin-bottom:30px;
        width: 90%;
        float:none;
    }
}

/*---------------Impact of Our Organisation------------*/

.impact{
    background-color: rgb(0, 255, 170,  0.1);
    margin: 0 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 8px 8px 0 rgb(0,0,0,0.5);
    text-align: center;
}

.impact-text{
    padding: 20px 20px 0;
    line-height: 30px;  
}   

.impact-image{
    padding-top: 20px;
    padding-bottom:20px;
}

.impact-text p{
    font-size: 18px; 
    text-align:  justify;
}

.impact-image img{
    box-shadow: 0 7px 7px 0 rgb(0,0,0,0.3);
    width: 90%;
    height: auto;
    margin: 40px;
    border-radius: 10px;
}

@media screen and (max-width: 500px){
    .impact-text p{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
    .impact-image img{
        width: 100%;
        margin:0;
    }
}